<h1>Editing gathering outing</h1>

<%= render "form", gathering_outing: @gathering_outing %>

<br>

<div>
  <%= link_to "Show this gathering outing", @gathering_outing %> |
  <%= link_to "Back to gathering outings", gathering_outings_path %>
</div>
