<p style="color: green"><%= notice %></p>

<h1>Gathering outings</h1>

<div id="gathering_outings">
  <% @gathering_outings.each do |gathering_outing| %>
    <%= render gathering_outing %>
    <p>
      <%= link_to "Show this gathering outing", gathering_outing %>
    </p>
  <% end %>
</div>

<%= link_to "New gathering outing", new_gathering_outing_path %>
