<%= form_with(model: [@gathering, outing]) do |form| %>
  <% if outing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(outing.errors.count, "error") %> prohibited this outing from being saved:</h2>

      <ul>
        <% outing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
