<h1>Editing gathering outing</h1>

<%= render "form", outing: @outing %>

<br>

<div>
  <%= link_to "Show this gathering outing", gathering_outing_path(@outing) %> |
  <%= link_to "Back to gathering outings", gathering_outings_path %>
</div>
