<p style="color: green"><%= notice %></p>

<h1>Outings</h1>

<div id="outings">
  <% @outings.each do |outing| %>
    <%= render outing %>
    <p>
      <%=
        link_to "Show this outing", gathering_outing_url(@gathering, outing)
      %>
    </p>
  <% end %>
</div>

<%= link_to "New outing", new_gathering_outing_path %>
