<div class="container section">
  <% if @gatherings.any?(&:current?) %>
    <h2 class="title">Current Gatherings</h2>

    <%= render(
      partial: 'gathering_list',
      locals: { gatherings: @gatherings.select(&:current?) }
    ) %>
  <% end %>

  <% if @gatherings.any?(&:future?) %>
    <h2 class="title">Upcomming Gatherings</h2>

    <%= render(
      partial: 'gathering_list',
      locals: { gatherings: @gatherings.select(&:future?) }
    ) %>
  <% end %>

  <% if @gatherings.any?(&:past?) %>
    <h2 class="title">Past Gatherings</h2>

    <%= render(
      partial: 'gathering_list',
      locals: { gatherings: @gatherings.select(&:past?) }
    ) %>
  <% end %>
</div>
