<% unless rodauth.login_form_footer_links.empty? %>
  <hr>

  <span class="subtitle">
    <%== rodauth.login_form_footer_links_heading %>
  </span>

  <ul>
    <% rodauth.login_form_footer_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link %></li>
    <% end %>
  </ul>
<% end %>
